<ion-view title="Add Member">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Add Member</h1>


            <button class="button button-clear icon ion-chevron-left" ui-sref="members"></button>
            <button class="button button-clear icon ion-checkmark" ng-click="addMembers()"></button>



        </ion-header-bar>
        <ion-content>

            <ion-list>

                <ion-item ng-repeat="u in data.users">
                    <ion-checkbox ng-model="u.selected">{{u.email}}</ion-checkbox>
                </ion-item>

            </ion-list>


        </ion-content>


    </ion-pane>
</ion-view>