<ion-view title="Add Member">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Add Member</h1>


            <button class="button" ui-sref="members">Done</button>




        </ion-header-bar>
        <ion-content>

            <ion-list ng-repeat="u in data.users">

                <ion-item>
                    <p ng-click="goToUserDetail(u)">{{u.email}}</p>
                </ion-item>

            </ion-list>


        </ion-content>

        <ion-footer-bar align-title="left" class="bar-stable">

        </ion-footer-bar>

    </ion-pane>
</ion-view>