<ion-view title="Add Room">
    <ion-pane>
        <ion-header-bar class="bar-stable" align-title="center">

            <button class="button button-clear icon ion-chevron-left" ui-sref="main"></button>
            <h1 class="title">Add Room</h1>



        </ion-header-bar>
        <ion-content>


                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Room Name</span>
                        <input type="text" ng-model="data.roomname">
                    </label>

                    <label class="item">
                        <button class="button button-block button-positive" ng-click="addRoom()">Save</button>
                    </label>
                </div>


        </ion-content>
    </ion-pane>

</ion-view>