//
   Created by goer on 5/20/15.

ion-list
   ion-item
      span.input-label Picture
      img(gravatar-src-once='data.user.email')
   ion-item
      span.input-label First Name
      input(type='text', ng-model='data.user.firstname')
   ion-item
      span.input-label Last Name
      input(type='text', ng-model='data.user.lastname')
   ion-item
      span.input-label User Name
      input(type='text', ng-model='data.user.username')
   ion-item
      span.input-label Gender
      input(type='text', ng-model='data.user.gender')
   ion-item
      span.input-label Email
      input(type='text', ng-model='data.user.email')