<ion-view title="login">
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="login()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">User Name</span>
                    <input type="text" ng-model="username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>