
<div class="modal">
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>

                <button class="button button-block  btn-facebook" ng-click="authenticate('facebook')">
                    <i class="ion-social-facebook"></i> Sign in with Facebook
                </button>

                <button class="button button-block  btn-google-plus" ng-click="authenticate('google')">
                    <span class="ion-social-googleplus"></span>Sign in with Google
                </button>
                <button class="button button-block  btn-linkedin" ng-click="authenticate('linkedin')">
                    <i class="ion-social-linkedin"></i> Sign in with LinkedIn
                </button>
                <button class="button button-block  btn-twitter" ng-click="authenticate('twitter')">
                    <i class="ion-social-twitter"></i> Sign in with Twitter
                </button>
                <button class="button button-block  btn-foursquare" ng-click="authenticate('foursquare')">
                    <i class="fa fa-foursquare"></i> Sign in with Foursquare
                </button>
                <button class="button button-block  btn-github" ng-click="authenticate('github')">
                    <i class="ion-social-github"></i> Sign in with GitHub
                </button>
                <button class="button button-block btn-yahoo" ng-click="authenticate('yahoo')">
                    <i class="ion-social-yahoo"></i> Sign in with Yahoo
                </button>
                <button class="button button-block k btn-live" ng-click="authenticate('live')">
                    <i class="ion-social-windows"></i> Sign in with Windows Live
                </button>
            </div>
        </form>
    </ion-content>
</div>