<ion-view title="Members">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Members</h1>


            <button class="button button-clear icon ion-chevron-left" ui-sref="room"></button>
            <button class="button button-clear icon ion-plus" ui-sref="addmember"></button>



        </ion-header-bar>
        <ion-content>

            <ion-list >

                <ion-item class="item item-avatar item-icon-right" ng-repeat="m in data.members" ng-click="goToUserDetail(m.user)">
                    <i class="icon ion-chevron-right"></i>
                    <img gravatar-src-once="m.user.email"></img>
                    <h2>{{m.user.email}}</h2>
                    <ion-option-button class="button-assertive icon ion-minus-circled" ng-click="deleteMember(m.id)"></ion-option-button>
                </ion-item>

            </ion-list>


        </ion-content>


    </ion-pane>
</ion-view>