<ion-view title="Members">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Members</h1>


            <button class="button" ui-sref="room">Done</button>
            <button class="button" ui-sref="addmember">Add Member</button>



        </ion-header-bar>
        <ion-content>

            <ion-list ng-repeat="m in data.members">

                <ion-item>
                    <p ng-click="goToUserDetail(m.user)">{{m.user.email}}</p>
                </ion-item>

            </ion-list>


        </ion-content>

        <ion-footer-bar align-title="left" class="bar-stable">
            <h1 class="title">Length {{data.members.length}}</h1>
        </ion-footer-bar>

    </ion-pane>
</ion-view>