<ion-view title="Messages History">
    <ion-pane>
        <ion-header-bar class="bar-stable" align-title="center">
            <h1 class="title">Messages History</h1>


            <button class="button" ui-sref="room">Done</button>

        </ion-header-bar>
        <ion-content>

            <ion-list ng-repeat="m in data.messages">

                <ion-item>
                    <p ng-click="playMessageContent(m)">{{m.content}}</p>
                </ion-item>

            </ion-list>


        </ion-content>

        <ion-footer-bar align-title="left" class="bar-stable">

        </ion-footer-bar>

    </ion-pane>
</ion-view>